prefer-no-csd
screenshot-path null

clipboard { disable-primary; }

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

input {
    keyboard {
        xkb {
            layout "br"
            options "caps:escape"
        }
        numlock
    }
    disable-power-key-handling
    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    mode "1920x1080"
    position x=0 y=0
    focus-at-startup
}

output "HDMI-A-1" {
    mode "1920x1080"
    position x=0 y=-1080
}

layout {
    gaps 8

    always-center-single-column
    empty-workspace-above-first
    background-color "transparent"

    preset-column-widths {
        proportion 0.5
        proportion 0.33
    }

    default-column-width { proportion 1.0; }

    focus-ring {
        width 1
        active-color "#cdd6f4"
        inactive-color "#11111b"
    }

    border { off; }

    tab-indicator {
        hide-when-single-tab
        place-within-column
    }
}

// TODO: rules with Ghostty's appid are not working, fix soontm maybe?

window-rule {
    match title="Picture-in-Picture" app-id="zen"
    open-floating true
}

window-rule {
    match title="Volume Control" app-id=r#"^org\.pulseaudio\.pavucontrol"#
    match title="File Upload" app-id=r#"^xdg-desktop-portal-gtk$"#
    match title="Save As" app-id=r#"^xdg-desktop-portal-gtk$"#
    match title="dunst-fzf.sh" app-id=r#"^com\.mitchellh\.ghostty$"#

    // TODO: check if the following also works, would be simpler
    match app-id=r#"^vesktop$"#
    exclude title=r#"^Vesktop$"#
    // match title=r#"^(?:\sVesktop)|(\s.*)$"# app-id=r#"vesktop"#

    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.5; }
    open-floating true
}

window-rule {
    match app-id=r#"^mpv$"#
    match app-id=r#"^io\.github\.celluloid_player\.Celluloid$"#
    open-on-output "HDMI-A-1"
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

binds {
    // General use binds
        Mod+Shift+Slash  repeat=false { show-hotkey-overlay; }
        Mod+T            repeat=false { spawn "ghostty" "+new-window"; }
        Mod+F            repeat=false { spawn "app.zen_browser.zen"; }
        Mod+D            repeat=false { spawn "dev.vencord.Vesktop"; }
        Mod+Space        repeat=false { spawn "fuzzel"; }
        Mod+Delete       repeat=false { spawn "powermenu.sh"; }
        Mod+Shift+Delete repeat=false { quit; }
        Mod+Q            repeat=false { close-window; }
        Mod+O            repeat=false { toggle-overview; }

    // Screencapture
        Mod+Print       repeat=false { screenshot; }
        Mod+Shift+Print repeat=false { screenshot-window; }
        Mod+F12         repeat=false { spawn-sh "wl-paste | satty --fullscreen -f - -o $HOME/Pictures/Screenshots/$(date '+%Y%m%d-%H:%M:%S').png"; }
        Mod+F10         repeat=false { spawn "record.sh"; }

    // Window and workspace movement
        // Move focus with Mod + [hjkl]
            Mod+H { focus-column-left; }
            Mod+J { focus-window-or-workspace-down; }
            Mod+K { focus-window-or-workspace-up; }
            Mod+L { focus-column-right; }

            // Move focus left / right with Mod + Mouse Wheel
                Mod+Shift+WheelScrollUp   { focus-column-left; }
                Mod+Shift+WheelScrollDown { focus-column-right; }

            // Focus window / workspace below / above with Mod + Mouse Wheel
                Mod+WheelScrollUp   { focus-window-or-workspace-up; }
                Mod+WheelScrollDown { focus-window-or-workspace-down; }

        // Switch to previous / next monitor with Mod + [pn]
            Mod+P { focus-monitor-up; }
            Mod+N { focus-monitor-down; }

        // Switch workspaces with Mod + [1-5]
            Mod+1 { focus-workspace 1; }
            Mod+2 { focus-workspace 2; }
            Mod+3 { focus-workspace 3; }
            Mod+4 { focus-workspace 4; }
            Mod+5 { focus-workspace 5; }

        // Resize focused window / column with Mod + [Shift] + [Minus / Equal]
            Mod+Minus       { set-column-width "-10%"; }
            Mod+Equal       { set-column-width "+10%"; }
            Mod+Shift+Minus { set-window-height "-10%"; }
            Mod+Shift+Equal { set-window-height "+10%"; }
            Mod+E           { expand-column-to-available-width; }
            Mod+R           { switch-preset-column-width; }
            Mod+M           { maximize-column; }

        // Move focused window around or between workspaces with Mod + Shift + [hjkl]
            Mod+Shift+H { move-column-left; }
            Mod+Shift+J { move-window-down-or-to-workspace-down; }
            Mod+Shift+K { move-window-up-or-to-workspace-up; }
            Mod+Shift+L { move-column-right; }

            // Move focused window silently to a workspace with Mod + Alt + [1-5]
                Mod+Alt+J { move-window-to-workspace-down focus=false; }
                Mod+Alt+K { move-window-to-workspace-up focus=false; }

        // Move current workspace to the previous / next monitor with Mod + Shift + [pn]
            Mod+Shift+P { move-workspace-to-monitor-previous; }
            Mod+Shift+N { move-workspace-to-monitor-next; }

        // Move focused window to a workspace with Mod + Shift + [1-5]
            Mod+Shift+1 { move-window-to-workspace 1; }
            Mod+Shift+2 { move-window-to-workspace 2; }
            Mod+Shift+3 { move-window-to-workspace 3; }
            Mod+Shift+4 { move-window-to-workspace 4; }
            Mod+Shift+5 { move-window-to-workspace 5; }

            // Move focused window silently to a workspace with Mod + Alt + [1-5]
                Mod+Alt+1 { move-window-to-workspace focus=false 1; }
                Mod+Alt+2 { move-window-to-workspace focus=false 2; }
                Mod+Alt+3 { move-window-to-workspace focus=false 3; }
                Mod+Alt+4 { move-window-to-workspace focus=false 4; }
                Mod+Alt+5 { move-window-to-workspace focus=false 5; }

    // Column manipulation
        // Consume current window into adjacent column with Mod + []
            Mod+BracketLeft  { consume-or-expel-window-left; }
            Mod+BracketRight { consume-or-expel-window-right; }

        // Consume right-adjacent window into current column with Mod + ,.
            Mod+Comma  { consume-window-into-column; }
            Mod+Period { expel-window-from-column; }

        // Toggle between tabbed and column display
            Mod+SemiColon { toggle-column-tabbed-display; }

    // Media controls
        XF86AudioRaiseVolume       allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_SINK@" "5%+" "--limit" "0.5"; }
        XF86AudioLowerVolume       allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_SINK@" "5%-"; }
        XF86AudioMute              allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_SINK@" "toggle"; }
        Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_SOURCE@" "5%+" "--limit" "1.0"; }
        Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_SOURCE@" "5%-"; }
        Shift+XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_SOURCE@" "toggle"; }
        XF86AudioPlay              allow-when-locked=true { spawn "playerctl" "play-pause"; }
        XF86AudioStop              allow-when-locked=true { spawn "playerctl" "stop"; }
        XF86AudioPrev              allow-when-locked=true { spawn "playerctl" "previous"; }
        XF86AudioNext              allow-when-locked=true { spawn "playerctl" "next"; }

    // Brightness controls
        XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+5%"; }
        XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }

    // When all else fails
        Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

environment {
    GDK_BACKEND "wayland"
    GTK_THEME "catppuccin-mocha-mauve-standard+default:dark"

    // Need this for better deadkey handling starting in GTK 4.20
    GTK_IM_MODULE "simple"
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 1000
}

/-debug {
    preview-render "screen-capture"
    // preview-render "screencast"

    render-drm-device "/dev/dri/renderD129"
}
