@import "Catppuccin-Mocha.css";

* {
    all: unset;
    font-size: 12px;
    font-family: "AdwaitaMono Bold";
}

#idle_inhibitor { margin-right: 2px; }

tooltip { background: @base; }

.modules-center {
    color: @text;
    background: @base;
    padding: 4px 12px;
    border: 1px solid @text;
    border-radius: 10px;
    transition: all .5s ease;
}

#workspaces, #window,
#cpu, #memory, #disk,
#pulseaudio, #network, #backlight {
    background: @base;
    padding: 4px 12px;
    border: 1px solid @text;
    border-radius: 10px;
    transition: all .5s ease;
}

#idle_inhibitor:hover, #clock:hover {}
#cpu:hover, #memory:hover, #disk:hover,
#pulseaudio:hover, #pulseaudio.microphone:hover, #network:hover, #backlight:hover {
    color: @text;
    border-color: @text;
    transition: all .5s ease;
}

#workspaces button {
    color: @subtext0;
    padding: 0px 8px;
    transition: all .5s ease;
}

#workspaces button.empty { color: @crust; }
#workspaces button.active { color: @pink; }
#workspaces button:hover { color: @white; }
#workspaces button.urgent { color: @red; }

#workspaces {
    color: @pink;
    border-color: @pink;
}

#window {
    color: @mauve;
    border-color: @mauve;
}

#cpu {
    color: @red;
    border-color: @red;
}

#memory {
    color: @peach;
    border-color: @peach;
}

#disk {
    color: @yellow;
    border-color: @yellow;
}

#pulseaudio {
    color: @green;
    border-color: @green;
}

#pulseaudio.microphone {
    color: @teal;
    border-color: @teal;
}

#network {
    color: @sky;
    border-color: @sky;
}

#backlight {
    color: @sapphire;
    border-color: @sapphire;
}
