@import "Catppuccin-Mocha.css";

* {
    all: unset;
    font-size: 12px;
    font-family: "FreeMono Bold";
}

window#waybar {
    all: unset;
}

.modules-center {
    padding: 4px 12px;
    border-radius: 10px;
    background: @base;
    color: @text;
    transition: all .5s ease;
}

#idle_inhibitor {
    margin-right: 2px;
}

tooltip {
    background: @base;
}

#idle_inhibitor:hover, #clock:hover,
#cpu:hover, #memory:hover, #disk:hover,
#pulseaudio:hover, #network:hover, #backlight:hover {
    transition: all .5s ease;
    color: @blue;
}

#workspaces, #window,
#cpu, #memory, #disk,
#pulseaudio, #network, #backlight {
    padding: 4px 12px;
    border-radius: 10px;
    background: @base;
    color: @text;
    transition: all .5s ease;
}

#workspaces button {
    padding: 0px 8px;
    color: @subtext0;
}

#workspaces button.empty {
    color: @crust;
}

#workspaces button.active {
    color: @green;
}

#workspaces button:hover {
    color: @blue;
}

#workspaces button.urgent {
    color: @red;
}

#cpu {
    color: @red;
}

#memory {
    color: @peach;
}

#disk {
    color: @yellow;
}

#pulseaudio {
    color: @green;
}

#pulseaudio.microphone {
    color: @teal;
}

#network {
    color: @sky;
}

#backlight {
    color: @sapphire;
}
