@import "catppuccin-mocha.css";

* {
    transition: 200ms ease;
    font-family: "AdwaitaMono";
    font-size: 16px;
}

#window {
    background: transparent;
}

#main {
    background-color: alpha(@base, 0.7);
}

/* anyrun's input window - Text */
#entry {
    color: @text;
    background-color: alpha(@base, 0.7);
    border-radius: 10px;
}

/* anyrun's ouput matches entries */
#match {
    color: @text;
    margin: 2px;
    border: 1px solid transparent;
    border-radius: 10px;
}

/* anyrun's selected entry */
#match:selected {
    background: alpha(@blue, 0.1);
    border: 1px solid @text;
}

box#main {
    background: alpha(@base, 0.7);
    padding: 5px;
    border: 2px solid alpha(@text, 0.7);
    border-radius: 10px;
}
